<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Bernardo's personal website

        // meta tags
        meta(name="title" content="Bernardo's personal website")
        meta(name="description" content="My personal website.")

        // meta tags for OpenGraph
        meta(property="og:type" content="website")
        meta(property="og:url" content="https://bernardomig.now.sh/")
        meta(property="og:title" content="Bernardo's personal website")
        meta(property="og:description" content="My personal website.")
        meta(property="og:image" content="./media/image.png")

        link(rel="stylesheet", href="style.scss")
    body
        .wrapper
            .content
                .bio
                    h1#name Bernardo Lourenço
                    p 👋 I’m a mechanical Engineering with a special passion for Programming and Deep Learning. I am currently a Research Fellow at the Universidade de Aveiro.
                    p My passion is create robots and intelligent machines.

                    p Want to know more about me? <a href="https://www.dropbox.com/s/16bo5rp3qnoyj0d/curriculum-bernardomig.pdf">Here, take my CV</a>.

                    .projects
                        h3 Projects
                        p Wanna see what I've been up to?

                        h4 Publications

                        ul.publications
                            li 
                                .title Extrinsic Calibration of 2D Laser Range Finders using Planar Features
                                .links
                                    a(href="https://ieeexplore.ieee.org/document/8733654" class="entypo-link")
                                    a(href="https://www.dropbox.com/s/n21nic5k8dem61x/lidar-calibration-icarsc-2019.pdf" class="entypo-download")
                            li 
                                .title Performance Analysis on Deep Learning Semantic Segmentation with multivariate Training Procedures
                                .links
                                    a(href="https://ieeexplore.ieee.org/document/9096145" class="entypo-link") 
                                    a(href="https://www.dropbox.com/s/sj7r8ereffuje9y/performance-analysis-segmentation-icarsc-2020.pdf" class="entypo-download")
                            li 
                                .title Scalable ROS-Based Architecture to Merge Multi-source Lane Detection Algorithms
                                .links
                                    a(href="https://link.springer.com/chapter/10.1007/978-3-030-35990-4_20" class="entypo-link") 
                                    a(href="https://www.dropbox.com/s/md4ouptlsh4vf5y/scalable-lane-detection-robot-2019.pdf?dl=0" class="entypo-download")
                            li 
                                .title Detection of Data Matrix Encoded Landmarks in Unstructured Environments using Deep Learning
                                .links
                                    a(href="https://ieeexplore.ieee.org/document/9096211/" class="entypo-link") 
                                    a(href="https://www.dropbox.com/s/woo3d8vk448c3w3/data-matrix-detection-icarsc-2020.pdf" class="entypo-download")

                        h4 Find more at

                        ul.links
                            li
                                a(href="#")
                                    h4 Blog
                            li
                                a(href="https://github.com/bernardomig/")
                                    .icon
                                        span.entypo-github

                    .contact
                        h3 Contact
                        p Do you want to collaborate, or just say hi? Contact me.

                        ul.links
                            li
                                a(href="tel:+351 960 435 112")
                                    .icon
                                        span.entypo-phone
                            li
                                a(href="mailto:bernardo.lourenco@ua.pt")
                                    .icon
                                        span.entypo-mail
                            li
                                a(href="https://www.linkedin.com/in/bernardomig/")
                                    .icon
                                        span.entypo-linkedin
            .shape
                img(src="./media/image.png", alt="")
            
            

        script(src="index.js")