<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Bernardo's personal website

        // meta tags
        meta(name="title" content="Bernardo's personal website")
        meta(name="description" content="My personal website.")

        // meta tags for OpenGraph
        meta(property="og:type" content="website")
        meta(property="og:url" content="https://bernardomig.now.sh/")
        meta(property="og:title" content="Bernardo's personal website")
        meta(property="og:description" content="My personal website.")
        meta(property="og:image" content="./media/image.png")

        link(rel="stylesheet", href="style.scss")
    body
        .wrapper
            .content
                .bio
                    h1#name Bernardo Lourenço
                    p 👋 I’m a mechanical Engineering with a special passion for Programming and Deep Learning. I am currently a Research Fellow at the Universidade de Aveiro.
                    p My passion is create robots and intelligent machines as a job.
                    .projects
                        h4 Projects
                        p Wanna see what I've been up to?

                        ul.links
                            li
                                a(href="#")
                                    h4 Blog
                            li
                                a(href="https://github.com/bernardomig/")
                                    .icon
                                        span.entypo-github

                    .contact
                        h4 Contact
                        p Do you want to collaborate? Contact me.

                        ul.links
                            li
                                a(href="tel:+351 960 435 112")
                                    .icon
                                        span.entypo-phone
                            li
                                a(href="mailto:bernardo.lourenco@ua.pt")
                                    .icon
                                        span.entypo-mail
                            li
                                a(href="https://www.linkedin.com/in/bernardomig/")
                                    .icon
                                        span.entypo-linkedin
            .shape
                img(src="./media/image.png", alt="")
            
            

        script(src="index.js")